<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2018, org.smartboot. All rights reserved.
  ~ project name: smart-socket
  ~ file name: log4j2.xml
  ~ Date: 2018-03-08
  ~ Author: sandao
  -->

<Configuration status='fatal' packages="org.smartboot.socket.http">

    <Properties>
        <!-- 设置为生产环境的日志存放目录 -->
        <Property name="logPath">../logs/</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%t] %-5level %M(%F:%L) - %msg%xEx%n"/>
        </Console>

        <RollingFile name="DefaultRollingFile" fileName="${logPath}/http-server.log"
                     filePattern="${logPath}/http-server-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout
                    pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%t] %-5level %M(%F:%L) - %msg%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

    </Appenders>

    <Loggers>
        <Root level="info">
            <!-- 生产环境停用Console -->
            <appender-ref ref="DefaultRollingFile"/>
        </Root>

    </Loggers>

</Configuration>