 <div class="user-details">
  <h1> Why smart-socket </h1>
  <p> 通信开发步入微内核时代 </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>学习</h2>
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-github-plain-wordmark colored"></i>
      <i class="devicon-linux-plain colored"></i>
      <p>极简代码彰显编码艺术</p>
    </div>
    <div class="tech">
      <h2>应用</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>巧妙接口体现设计灵魂</p>
    </div>
    <div class="tech">
      <h2>解决方案</h2>
      <i class="devicon-ssh-original"></i>
      <i class="devicon-amazonwebservices-original colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>助力行业吾辈义不容辞</p>
    </div>
</div>
